data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/.gitkeep

models/*.pkl
models/*.json
models/*.h5
reports/*.png

.venv/
venv/
ENV/
env/
bin/
lib/
include/

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

.idea/
*.iws
*.iml

.vscode/

.ipynb_checkpoints/
*/.ipynb_checkpoints/

.env